.idle-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        .logo {
            position: absolute;
            top: 0;
            right: 0;
        }

        h1 {
            margin-top: 160px;
            text-align: center;
            font-size: 5.5rem;
            line-height: 1;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 510px;
            background: #ffffff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 87%, rgba(255, 255, 255, 0) 100%);
            z-index: -1;
        }
    }

    main {
        .background {
            position: absolute;
            object-fit: cover;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -2;

            animation: zoom 10s infinite;
        }
    }

    footer {
        position: absolute;
        bottom: 10%;
        left: 0;

        width: 100%;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 20px 40px;
            font-size: 3.5rem;
            color: white;
            background-color: var(--color-accent);
            border: none;
            border-radius: 10px;
        }
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}