.idle-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            margin-top: 30px;
        }

        h1 {
            margin-top: 30px;
            text-align: center;
            font-size: 5.5rem;
            line-height: 1;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 656px;
            background: #ffffff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 87%, rgba(255, 255, 255, 0) 100%);
            z-index: -1;
        }
    }

    main {
        width: 100%;
        height: 100%;

        .background {
            position: absolute;
            object-fit: contain;
            top: 150px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            opacity: 0;
            transform: scale(1);
            transition: opacity 1s ease-in-out, transform 10s linear;

            &.active {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }

    footer {
        position: absolute;
        bottom: 10%;
        left: 0;

        width: 100%;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 20px 40px;
            font-size: 3.5rem;
            color: white;
            background-color: var(--color-accent);
            border: none;
            border-radius: 10px;
        }
    }
}