body {
    margin: 0;
    padding: 0;

    font-family: var(--font-body);

    color: var(--text-color);

    background-color: var(--color-background);
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    letter-spacing: 0.05em;
    color: var(--color-primary);
}