.payment-in-progress-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 150px;

        img {
            width: 600px;
            height: 600px;
        }
    }

    main {
        margin-top: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .background {
            position: absolute;
            left: 0px;
            top: 0px;

            width: 100vw;
            height: 100vh;

            z-index: -1;
        }

        h2 {
            max-width: 90%;
            font-size: 3.5rem;
            text-align: center;
        }
    }
}