.menu-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        margin-left: 30px;

        .top {
            margin-left: -40px;

            display: flex;
            flex-direction: row;
            align-items: center;

            .filters {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 4.5rem;
                    margin-bottom: 20px;
                }

                .filter-buttons {
                    display: flex;
                    gap: 30px;

                    width: 100%;

                    align-items: flex-start;
                    justify-content: flex-start;

                    button {
                        padding: 20px 40px;
                        font-size: 3rem;

                        color: var(--text-color);

                        background-color: #fff;
                        border: none;
                        border-radius: 40px;

                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .question-button {
                position: absolute;
                top: 50px;
                right: 30px;

                width: 80px;
                height: 80px;

                border-radius: 50%;
                border: none;

                font-size: 3rem;
                background-color: #fff;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }

        .categories {
            margin-top: 30px;

            display: flex;
            flex-direction: row;
            gap: 20px;

            width: 100%;

            align-items: flex-start;
            justify-content: flex-start;

            button {
                padding: 20px 35px;
                font-size: 3rem;

                background-color: #fff;
                border: none;
                border-radius: 30px;
                color: var(--text-color);

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                &.active {
                    background-color: var(--color-primary);
                    color: #fff;
                }
            }
        }
    }

    hr {
        margin-top: 30px;

        width: 100%;
        height: 1px;
    }
}