.menu-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        margin-left: 30px;

        .top {
            margin-left: -40px;

            display: flex;
            flex-direction: row;
            align-items: center;

            .filters {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 4.5rem;
                    margin-bottom: 20px;
                }

                .filter-buttons {
                    display: flex;
                    gap: 30px;

                    width: 100%;

                    align-items: flex-start;
                    justify-content: flex-start;

                    button {
                        padding: 20px 40px;
                        font-size: 3rem;

                        color: var(--text-color);

                        background-color: #fff;
                        border: none;
                        border-radius: 40px;

                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .question-button {
                position: absolute;
                top: 50px;
                right: 30px;

                width: 80px;
                height: 80px;

                border-radius: 50%;
                border: none;

                font-size: 3rem;
                background-color: #fff;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }

        .categories {
            margin-top: 10px;
            margin-left: -30px;

            display: flex;
            flex-direction: row;
            gap: 20px;

            width: calc(100% + 30px);

            align-items: flex-start;
            justify-content: flex-start;

            padding-bottom: 20px;
            overflow-x: scroll;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                width: 25px;
            }

            &::-webkit-scrollbar-track {
                background: #f0f0f0;
                border-radius: 10px;
                margin: 10px 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-primary);
                border-radius: 10px;
                border: 4px solid #f0f0f0;
            }

            .room {
                width: 10px;
            }

            button {
                padding: 20px 35px;
                font-size: 3rem;

                background-color: #fff;
                border: none;
                border-radius: 30px;
                color: var(--text-color);

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                white-space: nowrap;

                &.active {
                    background-color: var(--color-primary);
                    color: #fff;
                }
            }
        }
    }

    hr {
        margin-top: 20px;

        width: 100%;
        height: 1px;

        background-color: #000;
    }

    main {
        .products {
            margin: 20px 50px 0 50px;

            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            gap: 40px;
            height: 1080px;

            overflow-y: auto;
            box-sizing: border-box;

            &.has-scrollbar {
                padding-right: 24px;
            }

            &::-webkit-scrollbar {
                width: 25px;
            }

            &::-webkit-scrollbar-track {
                background: #f0f0f0;
                border-radius: 10px;
                margin: 10px 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-primary);
                border-radius: 10px;
                border: 4px solid #f0f0f0;
            }

            .product {
                position: relative;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                display: flex;
                flex-direction: column;

                min-height: 500px;

                img {
                    border-radius: 10px 10px 0 0;
                    object-fit: cover;

                    width: 100%;
                    height: 340px;
                }

                .info {
                    padding: 20px;

                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    p {
                        margin: 0;
                        font-size: 2.2rem;

                        line-height: 1.1;

                        &.price-kcal {
                            margin-top: auto;
                        }
                    }
                }

                .filter {
                    position: absolute;
                    top: -10px;
                    right: 20px;

                    width: 75px;
                    height: 75px;

                    border-radius: 50%;
                    border: none;

                    font-size: 2.5rem;
                    background-color: var(--color-primary);
                    color: #fff;

                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .add-button {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;

                    width: 60px;
                    height: 60px;

                    padding: 0;

                    border-radius: 50%;
                    border: none;

                    font-size: 3rem;
                    background-color: var(--color-primary);
                    color: #fff;
                    font-weight: bold;

                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1;


                    &:after {
                        content: "+";
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 168px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        padding: 20px;

        background-color: #fff;

        border-top: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

        img {
            width: 170px;
            height: 170px;
        }

        p {
            margin: 0;
            font-size: 2.7rem;
            font-family: var(--font-heading);
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            padding: 15px 25px;
            font-size: 2.7rem;

            background-color: var(--color-accent);
            color: #fff;

            border: none;
            border-radius: 20px;

            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            span {
                font-size: 2.3rem;
            }
        }
    }
}