.order-summary-screen {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    header {
        display: flex;

        h1 {
            color: #053631;
            font-size: 100px;
        }
    }

    main {
        display: flex;
        flex: 1;

        .background {
            position: absolute;
            left: 0px;
            top: 0px;

            width: 100vw;
            height: 100vh;

            z-index: -1;

        }

        .products {
            display: flex;
            flex-direction: column;
            gap: 20px;

            height: 1200px;
            width: 100%;

            padding: 10px;
            margin-right: 10px;

            overflow-y: auto;
            box-sizing: border-box;

            &.has-scrollbar {
                padding-right: 24px;
            }

            &::-webkit-scrollbar {
                width: 25px;
            }

            &::-webkit-scrollbar-track {
                background: #f0f0f0;
                border-radius: 10px;
                margin: 10px 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color-primary);
                border-radius: 10px;
                border: 4px solid #f0f0f0;
            }

            .product {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                width: 95%;
                margin: 0 auto;

                border-bottom: 2px solid #053631;

                img {
                    width: 275px;
                    height: 275px;

                    border-radius: 10px;

                    margin-left: 30px;
                }

                .quantity-and-remove {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    width: 25%;
                    height: 300px;

                    margin-left: 10px;

                    .quantity {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;

                        background-color: white;

                        button {
                            width: 70px;
                            height: 65px;
                            border: none;

                            font-size: 4rem;
                            background-color: var(--color-accent);
                            color: #fff;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            line-height: 1;

                            &.subtract-button {
                                border-radius: 10px 0 0 10px;
                            }

                            &.add-button {
                                border-radius: 0 10px 10px 0;
                            }

                            &.subtract-button::after {
                                content: "--";
                                letter-spacing: -0.1em;
                                transform: translateY(-5px);
                            }

                            &.add-button::after {
                                content: "+";
                                transform: translateY(-10px);
                                padding-top: 18px;
                            }
                        }

                        p {
                            margin: 0;
                            margin-left: 20px;
                            margin-right: 20px;

                            font-size: 2rem;
                            font-weight: bold;
                            color: var(--color-accent);
                        }
                    }

                    #removeitem {
                        height: 65px;

                        background-color: white;

                        font-size: 35px;

                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border: none;
                        border-radius: 10px;
                    }
                }

                .price-and-calories {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    width: 30%;
                    height: 300px;

                    margin-left: 10px;
                    margin-top: -7px;

                    text-align: center;

                    p {
                        margin: 0;

                        font-size: 3.5rem;
                        color: #053631;

                        font-family: var(--font-heading);
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;

        .box1footer {
            display: flex;
            justify-content: space-between;
            margin: 0px 55px 0 50px;

            h2 {
                color: #053631;
                font-size: 45px;
            }
        }

        .box2footer {
            display: flex;
            justify-content: space-evenly;

            margin-bottom: 70px;

            .continue {
                width: 408px;
                height: 95px;

                background-color: white;

                border: none;
                border-radius: 16px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

                font-size: 45px;
            }

            .complete {
                width: 531px;
                height: 95px;

                background-color: #FF7520;
                color: white;

                border: none;
                border-radius: 16px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

                font-size: 55px;
            }
        }


    }
}