.order-confirmation-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 150px;

        img {
            width: 600px;
            height: 600px;
        }
    }

    main {
        margin-top: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .background {
            position: absolute;
            left: 0px;
            top: 0px;

            width: 100vw;
            height: 100vh;

            z-index: -1;
        }

        h2 {
            max-width: 90%;
            font-size: 3.5rem;
            text-align: center;
        }

        .order-number {
            margin-top: 100px;

            font-size: 10rem;
            font-weight: bold;
            text-align: center;

            background-color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            padding: 100px 200px;
            border-radius: 20px;
        }
    }
}